body{
    height: 650px;
}
.Login{
    &__1st-Row{
        &__Form{
            &__h3{
                
            }
            &__Input-mail{
                height: 50px;
                width: 300px;
            }
            &__Input-pass{
                height: 50px;
                width: 300px;
            }
            &__Check{

            }
            &__btn{
                height: 50px;
                width: 300px;
                border: none;
                border-radius: 5px;
            }
        }
    }
}