body{
    height: 100%;
}
.Head{
    width: 100%;
    &__container{
        width: 680px;
        &__1st-Row{
            &__Para--dark{
                font-size: 20px;
                color: #343a40;
            }
        }
    }
}
.Footer{
    width: 100%;
    margin-top: 410px;
    &__container{
        width: 680px;
        &__1st-Row{
            &__Para--silver{
                color: #6c757d;
            }
        }
    }
}