*{
    margin: 0px;
    padding: 0px;
}
.box{
    background-color: rgb(154, 209, 241);
    margin: 20px auto;
    width: 600px;
    height: 650px;
    border: solid 2px black;
    border-radius: 50px;
}
.wrapper{
    width: auto;
    height: 390px;
    border-bottom: solid black 1px;
}
h1{
    margin-top: 30px; 
    text-align: center;
}
.img{
    float: right;
    background-image: url(img/lg1.png);
    background-size: 100px 100px;
    margin: 5px 40px 0px 0px;       
    width: 100px;
    height: 100px;

}
.head{
    margin-top: 30px;
    text-align: center;
}
.clear{
    margin: 0px auto;
    width: 200px;
    height: 5px;
    border-bottom: solid 1px black;
}
.box1{
    margin: 30px 0px 0px 80px;
    float: left;
}
.box1 ul li{
    padding: 5px;
}
.bottom{
    margin: 15px 0 0 80px;
}
.bottom ul li{
    padding: 5px
}